body {
    background-color: #878787;
}
.nBar, 
#listname, 
#paginator, 
.tHome{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}


#listname {
    margin-top: 5%;
}

#message{
    position: relative;
    top: 80px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}


.banF {
    margin-top: 15%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.banB {
    margin-top: 2%;
}

.listT {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    width: 30%;
}

#paginator{
    margin-right: auto;
    margin-left: auto;
}

.tHome{
    font-size: 100%;
    margin-top: 20%;
}