{% extends 'base.html' %} {% block content %}

<div class="container-fluid text-center" id="listname">
  <h1>All IPs</h1>
</div>

<div class="container-fluid">
  <table class="table table-dark table-striped-columns listT">
    <tr>
      <th>ID</th>
      <th>IPs</th>
    </tr>
    {% for ip in page.object_list %}
    <tr>
      <td>{{ip.id}}</td>
      <td>{{ip.IPs}}</td>
    </tr>
    {% endfor %}
  </table>

  {% if page.has_previous %}
  <a
    href="{% url 'list_ips' %}?page={{ page.previous_page_number }}"
    id="paginator"
    ><button type="button" class="btn btn-dark">Previous</button></a
  >
  {% endif %} {% if page.has_next %}
  <a href="{% url 'list_ips' %}?page={{ page.next_page_number }}" id="paginator"
    ><button type="button" class="btn btn-dark">Next</button></a
  >
  {% endif %}
</div>

{% endblock %}
