{% extends 'base.html' %} {% block content %}

<div class="container-fluid text-center" id="listname">
  <h1>Unbanned IPs</h1>
</div>

<div class="container-fluid">
  <table class="table table-dark table-striped-columns listT">
    <tr>
      <th>ID</th>
      <th>IPs</th>
    </tr>
    {% for ip in page.object_list %}
    <tr>
      <td>{{ip.id}}</td>
      <td>{{ip.IPs}}</td>
    </tr>
    {% endfor %}
  </table>

    <nav aria-label="Page navigation" class=" container-fluid text-center">
      <ul class="pagination">
        {% if page.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'list_unbanned' %}?page={{ page.previous_page_number }}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %} 
          <li class="page-item"><a class="page-link" href="{% url 'list_unbanned' %}?page={{ page.next_page_number }}"> {{ page.next_page_number }}</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'list_unbanned' %}?page={{ page.next_page_number }}"> {{ page.next_page_number }} </a></li>
          <li class="page-item"><a class="page-link" href="{% url 'list_unbanned' %}?page={{ page.next_page_number }}"> {{ page.next_page_number }} </a></li>
          {% if page.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'list_unbanned' %}?page={{ page.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
  </div>
</div>

{% endblock %}
